@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
:root{
    --azul: #1A84E8;
    --cinza: rgb(70, 66, 66);
    --laranja: rgb(245, 160, 50);
}

*{
    margin: 0;
    padding:0;
}

body{
    background: linear-gradient(90deg, rgb(5, 1, 75) 0%, rgba(9,9,121,1) 35%, #1A84E8 100%);
}

a{
    text-decoration: none;
    color: var(--azul);
}

ul{
    list-style-type: none;
}

/* Cabeçalho */
header.cabecalho-index{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

nav.index-nav{
    display: flex;
    width: 100%;
}


h1.titulo{
    font-family: 'Comforter';
    color: #fff;
    font-size: 30px;
    padding: 20px;
    width: max-content;
}

h1.titulo:hover{
    font-size: 33px;
    color: tomato;
}

.links{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.links ul{
    display: flex;
}

li.links-li a p{
    color: #fff;
    font-size: 20px;
    padding: 20px ;
}

li.links-li a p:hover{
    color: var(--cinza);
}

li.links-li.link-adm a p:hover{
    color: var(--laranja);
}

.separator{
    background: currentColor;
    margin: 20px 12px;
    display: inline-block;
    height: 30px;
    width: 1px;
    color: #fff;
}

/* Principal */

main{
    display: block;
    margin-top: 80px;
}

h2{
    font-size: 19px;
    color: black;
}

h3{
    color: #fff;
    font-size: 2.3rem;
    margin: 10px
}

.introduction{
    background-color: rgb(243, 237, 237);
    width: 100%;
    text-align: center;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    font-size: 2.625em;
    line-height: 1.45em;
    font-weight: 700;
    letter-spacing: -2px;
    margin-bottom: 0.1em;
    width: 100%;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.171);
}

.subtitle{
    font-size: 1.15em;
    color: #615f5f;
    font-family: Lato,Helvetica,Arial,sans-serif;
    line-height: 1.7em;
    word-spacing: 0.02em;
    font-weight: 400;
}

.filters li{
    display: inline-block;
    padding: 8px 5px;
    background-color: #313131;
    color: #fff;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: MontSerrat,Tahoma,Arial,sans-serif;
    font-weight: 700;
    font-size: .75em;
    line-height: 1em;
    box-shadow: 1px 1px 0 rgba(129, 128, 128, 0.151);
    margin: 3px;
    opacity: 1;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.filters li:hover{
    background-color: #1A84E8;
    transition: 3s;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Redes sociais */
a.card-link{
    width: 25%;
    margin: 10px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0.7px 0.8px 0.5px 0.5px rgba(0, 0, 0, 0.212);
    border-radius: 5px;
    background-color: #fff;
    max-width: 300px;
}

a.card-link:hover{
    will-change: transform;
    transform: translate3d(2.002px, 1.998px, 0px) scale3d(1, 1, 1) rotateX(
0deg
) rotateY(
0deg
) rotateZ(
0deg
) skew(
0deg
,
0deg
);
    transform-style: preserve-3d;
}


.icon ,
.myphoto,
.myahoba{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon{
    width: 100%;
    height: 30px;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.myphoto img{
    border-radius: 100%;
    max-height: 150px;
}

/* Portfolio de sites */

.portfolio{
    width: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.portfolio h3{
    color: #000;
}

#projects{
    width: 100%;
    margin:30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.card-descricao{
    width: 100%;
}

.card-site{
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 3px 0.7px #00000031;
    background-color: #fcfcfc;
    border-radius: 1%;
    margin-bottom: 20px;
    max-width: 1000px;
    color: black;
}

.card-img img{
    width: 100%;
    height: auto;
}

.card-descricao{
    margin-left: 20px;
    text-align: center;
}

.card-descricao h4.titulo{
    font-size: 35px;

}

.card-descricao p.descricao{
    width: 96%;
    word-wrap: wrap-word;
}

/* Minha jornada */

.history{
    background-color: var(--cinza);
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-history{
    width: 50%;
}

.history p{
    color: #fff;
    font-size: 23px;
}

div.content-history div p{
    margin-top: 15px;
}

hr{
    margin-top: 20px;
    margin-bottom: 20px;

}
h3.dates{
    color: var(--azul);
    text-align: center;
}
/* Icon Flutuante */

.contact{
    position: fixed ;
    bottom: 0;
    left: 0;
    margin: 30px;
}
